.container{
    border: 10px solid black;
    height: 100vh;
    display: flex;
 justify-content: center;
 align-items: center;
}
.card{
    background-color: aqua;
    border: 5px solid gray;
    line-height:2;
  height: fit-content;
  padding: 10px;
  font-family: 'Times New Roman', Times, serif;
  
    
}
caption{
    display: grid;
    margin: 0;
    padding: 0;
}
.user1{
    width: 160px;
    margin-left: 20px;
    

}
.user2{
    width: 160px;
    margin-left: 24px;

}
p{
    margin-left: 100px;
    margin-top: 0;
}
/* .lab1{
    margin-top: 40px;
} */
.login1{
    margin: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.btn{
    margin-left: 120px;
    margin: top 0;;
    border: 2px solid red;
}