<body>
    <div class="container">
        <div class="card">
            <caption class="login1">Login Page</caption><br>
            <label for="username">Username</label>
            <input type="text" class="user1" placeholder="Type your Username"><br>
            <label for="password">Password</label>
            <input type="password" class="user1" placeholder="Type your password">
            <p>Forgot password?</p>
            <button class="btn">LOGIN</button>
        </div>
    </div>
    
</body>