<body>
    <div class="container">
        <div class="card">
            <caption class="login1"> <b>LOGIN PAGE</b></caption><br>
            <label class="lab1" for="username">Username</label>
            <input  type="text" class="user1" placeholder="Type your Username"><br>
            <label class="lab1" for="password">Password</label>
            <input type="password" class="user2" placeholder="Type your password">
            <p>Forgot password?</p>
            <button class="btn">LOGIN</button>
        </div>
    </div>
    
</body>