
 @import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap'); 

 

.container{
    background-color: rgb(63, 112, 131);
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    font-family: 'DM Sans', sans-serif;
    background-color: white;
    width:175px;
    height: 20em;
    border: 2px solid white;
    text-align: center;
    border-radius: 10px;
    text-align: start;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    padding-right: 40px;
    
 }
 #caption{
    height: 40px;
 }
 .signup{
    width: 172px;
    background-color:white;
    border-radius: 10px solid black;
 }
.project{
    display: flex;
    align-content: center;
    justify-content:space-between;
    }
 