<div class="project">
    <div class="container">
        <div class="card">
            <div id="caption">SIGN UP</div>
            <div id="box1"> <div class="label1"><label for="email">Email</label></div>
            <div class="input1"> <input type="text"></div></div><br>
               <div id="box2"><div class="label2"> <label >Password</label></div>
               <div class="input2">  <input  type="password"></div></div><br>
                <div ><button class="signup">SIGN UP</button> </div>
        </div>
        
        </div>
        <div class="container">
            <div class="container">
                <div class="card">
                    <div id="caption">SIGN UP</div>
                    <div id="box1"> <div class="label1"><label for="email">Email</label></div>
                    <div class="input1"> <input type="text"></div></div><br>
                       <div id="box2"><div class="label2"> <label >Password</label></div>
                       <div class="input2">  <input  type="password"></div></div><br>
                        <div ><button class="signup">SIGN UP</button> </div>
                </div>
                
                </div>
        
        </div>
</div>
