
   
   <body>
    
   
        <div class="card">
            
            <div class="innercard">
                <caption class="calc2">Calculator</caption>
                <div class="num1">
                    <label for="number1">Enter First Number</label>
                    <input class="cl1" type="number" placeholder="Enter Value">
                </div>
                <div class="num2">
                    <label for="number1">Enter Second Number</label>
                    <input class="cl2" type="number" placeholder="Enter Value">
                </div>
                <div class="num3">
                    <label class="op" for="Text">Operator</label>
                    <select class="cl3" name="operator" id="oper1">
                        <option value="Addition">Addition</option>
                        <option value="Multiplication">Multiplication</option>
                        <option value="Division">Division</option>
                        <option value="Substraction">Substraction</option>
                    </select>
                </div>
                <button class="btn">Calculate</button>
                
                    </div>
        
        </div>
    </body>
        
    
            
    
        
    

